.tracker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
}
.tracker-container form{
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-bottom: 30px;
}
.tracker-container table{
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    min-width: 500px;
}
